html {
    height: 100%;
}

body {
    background-color: #dddddd;
    margin: 0;
    display: grid;
    grid-template-rows: 50px auto;
    height: 100%;
    grid-template-areas:
        "header"
        "main";
}

header {
    background-color: lightgray;
    grid-area: header;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.schema,
.home {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 50px;
}

#main-container {
    display: flex;
    justify-content: center;
    grid-area: main;
}

div#file-upload-area {
    background-color: #fff;
    border: 2px dashed #0087f7;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

#file-upload,
#schema-file-upload {
    display: none;
}

div#file-upload-area label {
    color: #777;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    text-align: center;
}

.info-box {
    border: 1px solid black;
    /* Collapse margins * /
    margin-right: -1px;
    font-family: 'Courier New', monospace;
    background-color: #fff;
}