html {
    height: 100%;
}

body {
    background-color: #dddddd;
    margin: 0;
    display: grid;
    /*grid-template-rows: 60px auto 1.5em;*/
    grid-template-rows: auto;
    height: 100%;
}

header {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}

.hidden {
    display: none;
}

div#file-upload-area {
    background-color: #fff;
    border: 2px dashed #0087f7;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

div#file-upload-area span#message {
    color: #777;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: center;
}