html {
    height: 100%;
}

body {
    background-color: #dddddd;
    margin: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 50px auto;
    height: 100%;
    grid-template-areas:
        "header"
        "main";
}

header {
    background-color: lightgray;
    grid-area: header;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

#main-container {
    display: flex;
    justify-content: center;
    grid-area: main;
}

div#file-upload-area {
    background-color: #fff;
    border: 2px dashed #0087f7;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    flex-grow: 1;
}

div#schema-area {
    flex-grow: 1;
}

div#left-sidebar {
    display:flex;
    flex-direction: column;
    width: 250px;
    line-height: 30px;
    resize: horizontal;
    overflow: hidden;
}

div#data-area {
    flex-grow: 1;
    background: white;
    font-size: 14px;
    display: flex;
}

.sidebar-title {
    text-align: center;
    font-size: 20px;
    background: #0087f7;
}

#file-upload,
#schema-file-upload {
    display: none;
}

div#file-upload-area label {
    color: #777;
    margin: 1em;
    text-align: center;
}

.file-container {
    background-color: #fff;
}

.file-data {
    display: flex;
    font-family: 'Courier New', monospace;
}

.filename {
    padding: 10px 0 5px 10px;
    font-weight: bold;
}

.hex-data,
.ascii-data,
.schema-data {
    padding-left: 10px;
    padding-right: 10px;
}

.hex-data,
.ascii-data,
.schema-data {
    white-space: pre;
}

.schema-add-button {
    width: 100%;
    color: rgb(68, 203, 102);
    text-align: center;
}

.highlight {
    color: rgb(68, 203, 102);
}