html {
    height: 100%;
}

body {
    background-color: #dddddd;
    margin: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 50px auto;
    height: 100%;
    grid-template-areas:
        "header"
        "main";
}

header {
    background-color: lightgray;
    grid-area: header;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

#main-container {
    display: flex;
    justify-content: center;
    grid-area: main;
    overflow: auto;
}

div#file-upload-area {
    background-color: #fff;
    border: 2px dashed #0087f7;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    flex-grow: 1;
}

div#sidebar {
    display:flex;
    flex-direction: column;
    width: 400px;
    line-height: 30px;
    overflow: hidden;
}

div#data-area {
    flex-grow: 1;
    background: white;
    font-size: 14px;
    display: flex;
    overflow: auto;
}

.sidebar-title {
    text-align: center;
    font-size: 20px;
    /*background: #0087f7;*/
    font-weight: bold;
}

#file-upload,
#schema-file-upload {
    display: none;
}

div#file-upload-area label {
    color: #777;
    margin: 1em;
    text-align: center;
}

.file-container {
    background-color: #fff;
}

.file-data {
    display: flex;
    font-family: Consolas, "Courier New", monospace;
}

.filename {
    padding: 10px 0 5px 10px;
    font-weight: bold;
}

.hex-data,
.ascii-data,
.schema {
    padding-left: 10px;
    padding-right: 10px;
}

.hex-data,
.ascii-data,
.schema {
    white-space: pre;
}

.schema {
    display: flex;
}

.schema-add-button {
    width: 100%;
    color: rgb(68, 203, 102);
    text-align: center;
}

.highlight {
    /*color: rgb(68, 203, 102);*/
    font-weight: bold;
}

.editor {
    height: 80%;
    margin: 10px;
    border-radius: 5px;
}

.schema-button {
    margin: 15px 15px 0 15px;
    padding: 10px;
    background-color: #008cff;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.schema-button:hover {
    background-color: #2fa2ff;
}

.schema-status {
    line-height: 16px;
    font-size: 12px;
    color: gray;
    margin: 0 10px 10px 10px;
}

.syntax-ok {
    color: green;
}

.syntax-error {
    color: red;
}

.hidden {
    display: none;
}